{% extends 'layouts/master.layout.html.twig' %}
{% block title %} Item Edit {% endblock %}

{% block content %}

    <h2 class="text-center">Edit item</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}