{% extends 'layouts/master.layout.html.twig' %}
{% block title %} Add new shelf {% endblock %}

{% block content %}

    <h2 class="text-center">Add new shelf</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}